/* Aadhar Input */
.aadhar-digit {
    width: 30% !important;
    margin: 0 1%;
    text-align: center;
    padding: 12px 0;
    font-size: 18px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    background: #FAFAFA;
    transition: all 0.3s ease;
}

.aadhar-digit:focus {
    border-color: #673AB7;
    background: white;
    box-shadow: 0 0 0 2px rgba(103, 58, 183, 0.2);
    outline: none;
}



.dialog-container {
    width: 100% !important;
}