.validation {
    color: red !important;
    font-size: 10px !important;
}


.validation.validation-otp.text-danger {
    color: #ed6f6f;
    margin-top: 13px;
    font-size: small !important;
}

.validation.validation-fullname.text-danger {
    color: #ed6f6f;
}

.validation.validation-store_address.text-danger {
    color: #ed6f6f;
    font-size: small !important;

}

.validation.validation-storeName.text-danger {
    color: #ed6f6f;
    font-size: small !important;

}

.validation.validation-gst_number.text-danger {
    color: #ed6f6f;
    font-size: small !important;

}

/* intl */
.validation.validation-accountNumber.text-danger {
    color: #ed6f6f;
    font-size: small !important;

}

.validation.validation-ifsc.text-danger {
    color: #ed6f6f;
    font-size: small !important;

}

.validation.validation-vpa.text-danger {
    color: #ed6f6f;
    font-size: small !important;
}


.validation.validation-color.text-danger {
    color: #ed6f6f;
    font-size: small !important;
}


.validation.validation-quantity.text-danger {
    color: #ed6f6f;
    font-size: small !important;
}

.validation.validation-price.text-danger {
    color: #ed6f6f;
    font-size: small !important;
}

.validation.validation-storeType.text-danger {
    color: #ed6f6f;
    font-size: small !important;
}

.validation.validation-storeCategory.text-danger {
    color: #ed6f6f;
    font-size: small !important;
}

.validation.validation-mobile.text-danger {
    color: #ed6f6f;
    font-size: small !important;
}

.kyc-valid {
    color: #1a7d1a;
    font-weight: bold;
    font-size: smaller;
}

.kyc-invalid {
    color: #F44336;
    font-weight: bold;
    font-size: smaller;
}


.validation.validation-gramInput.text-danger {
    margin-top: 35px;
    float: left;
    position: absolute;
    margin-left: 8px;
}

.validation.validation-rupessInput.text-danger {
    margin-top: 35px;
    float: left;
    position: absolute;
    margin-left: 8px;
}

.validation.validation-rupessInput.text-danger {
    margin-top: 38px;
    margin-left: 11px;
}

/*Input */
ons-input.ng-pristine.ng-untouched.ng-valid.ng-empty.ng-valid-validation {
    width: 100%;
}

ons-input.ng-pristine.ng-valid.ng-empty.ng-valid-validation.ng-touched {
    width: 100%;
}

ons-input.ng-pristine.ng-touched.ng-not-empty.ng-valid.ng-valid-validation {
    width: 100%;
}

ons-input.ng-pristine.ng-touched.ng-valid.ng-valid-validation.ng-empty {
    width: 100%;
}

ons-input.ng-pristine.ng-untouched.ng-not-empty.ng-valid.ng-valid-validation {
    width: 100%;
}

ons-input.ng-pristine.ng-untouched.ng-invalid.ng-invalid-validation.ng-not-empty {
    width: 100%;
}

ons-input.ng-pristine.ng-empty.ng-invalid.ng-invalid-validation.ng-touched {
    width: 100%;
}

ons-input.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-validation {
    width: 100%;
}