<footer class="my-5 pt-5 text-muted text-center text-small"  style="top: 80%;position: absolute;width: 100%;">
    <p class="mb-1">© 2024–2025 <a href="https://www.easycred.co.in">EASYCRED</a</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </footer>

<!-- 
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Gearguide 2024. All Rights Reserved</span>
    </div>
</footer> -->
<!-- <div class="container-fluid">
  <div class="footer mt-auto text-center">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">EASYCRED. All rights reserved © 2024</span>
        </div>
        <ul class="nav col-md-12 col-sm-12 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="/privacy">Privacy</a></li>
            <li class="ms-3"><a class="text-body-secondary" href="/terms">Terms</a></li>
            <li class="ms-3"><a class="text-body-secondary" href="/refund">Refund</a></li>
        </ul>
    </footer>
</div> -->