<section class="section" style="padding-bottom: 50px;padding-top: 18px;margin-top: 20%;">
    <div class="container">
        <div class="row" style="text-align: center;margin: auto;">
           <h1 class="header" style="text-align:center;letter-spacing:5px;font-weight: bold;">Route Access Not In Scope</h1>
        </div>
    </div>
</section> 

<script>

function openApp(){
	if(window.location.hostname=='localhost'){
		window.location.href = "http://localhost:5001"
	}else{
		window.location.href = "https://retail.easycred.co.in"
	}
}
</script>